<ul class="menu">
    <li>@Html.ActionLink("LIST", "order_list", "Product")</li>
    <li>@Html.ActionLink("Product", "Index", "Product")</li>
    <li>@Html.ActionLink("About", "About", "Main")</li>
    <li>@Html.ActionLink("Create", "Create", "Main")</li>

    <!-- Add more menu items as needed -->
</ul>
