<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>About Us</h1>
            <p>Welcome to WELCOME AL_XUSAYNI_E_COMMERCY_ONLINE_SYSTEM! We are dedicated to providing...</p>
            <p>waxaan idiin haynaa dhamaan agabkii technolgyga qaybahoodii kala duwanaa  sida</p>
            <ul>
                <li>keyboard</li>
                <li>mouse</li>
                <li>computers</li>
                <li>charger</li>
                <li>earphones</li>
            </ul>
            <p>waxaad naga heli kartaa goobkasta oo dalka adoo si fudud uga dalban kara website kayagaan </p> 
            <!-- Add more content as needed -->
        </div>
    </div>
</div>